* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.columns {
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-image {
    width: 256px;
    height: 256px;
}
.footer {
    background-color: black;
    color: blue;
}
.contact-info {
    font-family: 'Hind Siliguri', sans-serif;
    color: blue;
    font-size: 18px;
}

.navbar.is-link {
    background-color: lightgrey;
}

.navbar.is-link .navbar-end .navbar-link, .navbar.is-link .navbar-end>.navbar-item, .navbar.is-link .navbar-start .navbar-link, .navbar.is-link .navbar-start>.navbar-item {
    color: maroon;
    font-weight: bold;
}

#myportfolio {  
    color: brown;
}

#image-tammy {
    height: 400px;
    width: 300px;
    align-content: flex-start;
    display: flex;
}

.hero-body {
    padding-left: 50px;
}